name: Build
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: guardian/setup-scala@v1

      - name: clean, compile, test, assemble jar, copy to root dir
        run: |
          sbt -v clean compile test assembly
          cp target/scala*/skimlinks-lambda.jar .

      - name: Upload to Riff-Raff
        uses: guardian/actions-riff-raff@v4
        with:
          projectName: skimlinks-lambda
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          configPath: riff-raff.yaml
          buildNumberOffset: 135
          contentDirectories: |
            skimlinks-lambda:
            - skimlinks-lambda.jar
            skimlinks-lambda-cfn:
            - cfn.yaml
